@import "tailwindcss";


:root {
  /* On définit une hauteur dynamique pour mobile */
  --vh: 100dvh;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: auto !important;
  /* Force la hauteur à s'adapter au contenu */
  min-height: 100% !important;
  overflow-y: auto !important;
  /* Autorise le scroll vertical */
  overflow-x: hidden !important;
  /* Interdit le scroll horizontal parasite */
  -webkit-overflow-scrolling: touch;
  /* Scroll fluide sur iOS */
  position: relative;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* On s'assure que le container de Next.js ne bloque rien */
#__next,
body>div:first-child {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 30s linear infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: .5; }
}

.animate-pulse-slow {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Scrollbar personnalisée */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(6, 182, 212, 0.3);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(6, 182, 212, 0.6);
}